.gallery{
    margin-top: 6rem;
}
.gallery_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.gallery_container article{
    border: 1rem solid transparent;
    transition: var(--transition);
    box-shadow: var(--box-shadow-3);

}

.gallery_container article:hover{
    border-color: var(--color-gray-500);
    box-shadow: var(--box-shadow-3);
    transform: translateY(-5px);
}



@media screen and (max-width:1024px) {
    .gallery_container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .gallery_container article{
        border: 0;
    }
}

@media screen and (max-width:600px) {
    .gallery_container{
        grid-template-columns: 1fr;
        gap: 1rem;
      
    }
}